.squad-header {
  display: flex;
  flex-direction: column;
  align-items: center;    
  gap: 8px;               
  margin-bottom: 24px;
}

.squad-title {
  color: var(--accent-text);
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 8px;
}

.squad-subtitle {
  color: var(--mute);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}

.squad-coin-text {
  color: var(--mute);
  font-size: 24px;
}

.squad-coin-icon {
  width: 48px;
  height: 48px;
}

.squad-coins {
  display: flex;
  align-items: center;
  gap: 8px;
}

.squad-list {
  list-style: none;
  margin-top: 24px;
  padding: 0;
  padding-bottom: 80px;
}

.squad-item {
  display: flex;
  align-items: center;
  background: var(--secondary-light);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  gap: 12px;
}

.squad-item-icon {
  width: 36px;
  height: 36px;
  border-radius: 8px;
}

.squad-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.squad-user-title {
  font-weight: 600;
  color: var(--fg);
}

.me-squad-user-title {
  color: var(--accent);
}

.squad-user-subtitle {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.85rem;
  color: var(--muted);
  margin-top: 8px;
}

.coin-icon {
  width: 16px;
  height: 16px;
}

.squad-position {
  display: flex;
  align-items: center;
  gap: 6px;
}

.position-number {
  color: var(--accent-text);
  font-weight: 600;
  min-width: 20px;
  font-size: 20px;
  text-align: right;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--primary);
}

.nav-items {
  display: flex;
  justify-content: space-around;
}

.delete-user-from-squad-action {
  background: var(--negative);
  color: var(--accent-text);
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
}

.admin-user {
  background: white;
  color: black;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
}

.squad-buttons{
  display: flex;
  width: calc(100% - 16px);
  margin: 0 8px 8px;
  gap: 8px;
}

.join-squad-buttons {
  display: flex;
  width: calc(100% - 16px);
  margin: 0 8px 8px;
  gap: 8px;
}

.join-btn {
  flex: 0 0 100%;
  background: var(--accent);
  color: var(--accent-text);
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  animation: pulse 2s infinite;
  transform-origin: center;
}

.leave-btn {
  flex: 0 0 50%;
  background: var(--negative);
  color: var(--accent-text);
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

.invite-btn {
  flex: 0 0 50%;
  background: var(--accent);
  color: var(--accent-text);
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
    box-shadow: 0 0 0 rgba(59, 130, 246, 0.7);
  }

  50% {
    transform: scale(1.01, 1.02);
    box-shadow: 0 0 8px rgba(59, 130, 246, 0.7);
  }

  100% {
    transform: scale(1, 1);
    box-shadow: 0 0 0 rgba(59, 130, 246, 0.7);
  }
}